<!DOCTYPE html>
<html lang="en" ng-app="boatControl">
<head>
    <meta charset="UTF-8">
    <title>BoatControl</title>
    <script src="/vendor/socket.io-client/socket.io.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/app/app.js"></script>

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/app/app.css" />
</head>
<body ng-controller="BoatController">
    <div class="ping" ng-if="ping">
        Ping to server: {{ping}}ms
    </div>

    <div class="container">
        <div class="logs">
            <ul>
                <li ng-repeat="message in messages">{{message.time|date:'HH:mm:ss'}} {{message.text}}</li>
            </ul>
            <!--
            <ul>
                <li ng-repeat="filter in logFilters">{{message.time|date:'HH:mm:ss'}} {{message.text}}</li>
            </ul>
            -->
        </div>

        <!--<input class="input-control" ng-model="sendCommand" type="text" id="command" />-->
        <!--<input class="input-control" type="submit" value="Submit" ng-submit="submit(sendCommand)" />-->

        <hr/>
        <div id="controller">
            <div>
                <input ng-repeat="(buttonId, buttonData) in config.controller.buttons"
                       ng-mousedown="triggerEvent(buttonId + ':press')"
                       ng-mouseup="triggerEvent(buttonId + ':release')"
                       value="{{buttonId}}"
                       type="button"
                       class="input-control button"
                       ng-class="{'button-pressed':buttonData.isPressed}"
                />
            </div>
            <hr />
            <div>
                <div class="joystick" ng-repeat="(joystickData, joystickId) in config.controller.joysticks">
                    <h3>{{joystickId}}</h3>
                    <input
                            ng-repeat="direction in ['x', 'y']"
                            ng-value="joystick[joystickId][direction]"
                            type="number"
                            min="255"
                            max="255"
                            class="input-control"
                    />
                    <div class="joystick_circle">
                        <div class="joystick_point" style="left: {{joystick[joystickId].x}}px; top: {{joystick[joystickId].y}}px"></div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped table-border">
            <thead>
                <tr>
                    <th>Command</th>
                    <th>Input type</th>
                    <th>Pin</th>
                    <th>Akt. Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pin in config.config.pins"
                    title="{{pin}}"
                    ng-class="{'button-pressed':config.controller.buttons[pin.button].isPressed}"
                >
                    <td>{{pin.type}} {{pin.subType}}</td>
                    <td>{{pin.button}} {{pin.joystick}}</td>
                    <td>{{pin.pin}}</td>
                    <td>
                        <pin status="pins[pin.pin]" pin="pin"></pin>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
