<!DOCTYPE html>
<html lang="en" ng-app="boatControl">
<head>
    <meta charset="UTF-8">
    <title>BoatControl</title>
    <script src="/assets/socket.io.slim.js"></script>
    <script src="/assets/angular.min.js"></script>
    <script src="/assets/ui-bootstrap-tpls.min.js"></script>

    <script src="/app/app.js"></script>

    <link rel="stylesheet" href="/assets/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="/assets/bootstrap-theme.min.css"/>-->
    <link rel="stylesheet" href="/app/app.css"/>
</head>
<body ng-controller="BoatController">
<div class="header-menu btn-group">
    <a class="btn btn-primary" ng-if="config.plugins.webcam" href="//{{hostName}}:8090/boat.webm">Webcam</a>
    <a class="btn btn-primary" ng-if="!loggingEnabled" ng-click="toggleLog()">Show Logs</a>
    <a class="btn btn-primary" ng-if="loggingEnabled" ng-click="toggleLog()">Hide Logs</a>
    <a class="btn btn-primary" ng-if="!showController" ng-click="toggleController()">Show Controller</a>
    <a class="btn btn-primary" ng-if="showController" ng-click="toggleController()">Hide Controller</a>

    <a class="btn btn-default" disabled ng-if="ping">
        Ping to server: {{ping}}ms
    </a>
</div>

<div class="container">
    <div class="logs" ng-if="loggingEnabled">
        <ul>
            <li ng-repeat="message in messages">{{message.time|date:'HH:mm:ss'}} {{message.text}}</li>
        </ul>
    </div>

    <div id="controller" ng-if="showController">
        <hr/>
        <div class="btn-group">
            <input ng-repeat="(buttonId, buttonData) in controller.buttons"
                   ng-mousedown="triggerEvent(buttonId + ':press')"
                   ng-mouseup="triggerEvent(buttonId + ':release')"
                   value="{{buttonId}}"
                   type="button"
                   class="btn btn-default"
                   ng-class="{'button-pressed':buttonData.isPressed}"
            />
        </div>
        <hr/>
        <div>
            <div class="joystick" ng-repeat="(joystickData, joystickId) in controller.joysticks">
                <h3>{{joystickId}}</h3>
                <input
                        ng-repeat="direction in ['x', 'y']"
                        ng-model="joystick[joystickId][direction]"
                        type="number"
                        min="0"
                        max="255"
                        class="input-control"
                />
                <div
                        class="joystick_circle"
                        ng-mousedown="onJoystickEvent(true)"
                        ng-mouseup="onJoystickEvent(false)"
                        ng-mousemove="onJoystickEventMove(joystickId, $event)"
                >
                    <div
                            class="joystick_point"
                            style="left: {{joystick[joystickId].x}}px; top: {{joystick[joystickId].y}}px"
                    ></div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="input-group">
            <input ng-model="speakText" type="text" placeholder="Say text..." class="input-control"/>
            <input type="button" value="Say" ng-click="triggerEvent('say', speakText)" class="input-control"/>
        </div>
    </div>
    <div style="clear: both"></div>

    <div ng-repeat="(device, options) in config.devices">
        <h2 class="capitalize">{{device}}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-border">
                <thead>
                <tr>
                    <th>Input type</th>
                    <th>Command</th>
                    <th>Pin</th>
                    <th>Akt. Wert</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pin in options.actions"
                    title="{{pin}}"
                    ng-class="{'button-pressed':controller.buttons[pin.button].isPressed}"
                >
                    <td>
                        <div ng-if="pin.joystick">
                            {{pin.button}} {{pin.joystick}}
                        </div>
                        <div ng-if="pin.button && !pin.joystick">
                            <input
                                    ng-mousedown="triggerEvent(pin.button + ':press')"
                                    ng-mouseup="triggerEvent(pin.button + ':release')"
                                    value="{{pin.button}}"
                                    type="button"
                                    class="input-control btn btn-primary"
                            />
                        </div>
                    </td>
                    <td ng-if="pin.name">{{pin.name}}
                        <small>({{pin.type}})</small>
                    </td>
                    <td ng-if="!pin.name">{{pin.type}}</td>
                    <td>{{pin.pin}}</td>
                    <td>
                        <pin pin="pin"></pin>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
